.main-div{
    display:flex;
    flex-direction: column;
    width: 100%;

}


.info{
    width: 100%;

}

.title{
    font-size:large;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.layout{
    display: flex;

}

.panel-nav{
    position: sticky;
    flex:0.5;
    padding: 10px;
    border-right: 1px solid #ccc;

}

.panel-option{
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 5px 0px;
    border-radius: 10px;
}

.panel-option:hover{
    background-color: #9B7BDC;
}

.panel-list{
    font-weight: bold;
    font-size: 13px;
    margin: 10px 0px;
}

.content{
    flex:4;
    padding: 16px;

}

.charts{
    margin-top: 10px; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}